.ball-spinner {
    --size: 32px;
    --color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--size);
    height: calc(var(--size) / 2);
}

.ball {
    width: calc(var(--size) / 3);
    height: calc(var(--size) / 3);
    border-radius: 50%;
    background-color: var(--color);
    animation: ball-motion 3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}


@keyframes ball-motion {
    0% {
        transform: translateX(0) scale(1);
    }

    25% {
        transform: translateX(calc(var(--size) / 2)) scale(0.25);
    }

    50% {
        transform: translateX(0) scale(1);
    }

    75% {
        transform: translateX(calc((-1 * var(--size) / 2))) scale(0.25);
    }

    100% {
        transform: translateX(0) scale(1);

    }
}
