.circle-spinner {
    --size: 32px;
    --color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--size);
    height: var(--size);
    border: calc(var(--size) / 5) solid var(--color);
    border-right-color: transparent;
    border-radius: 50%;
    animation: circle-rotate 0.75s linear infinite;
}

@keyframes circle-rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
