.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    height: 120px;
    line-height: 120px;
    color: #fff;
}

.container {
    width: 1035px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.loader-item {
    width: 180px;
    height: 180px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26282f;
}

.title {
    width: 40%;
    margin: 0 auto;
    color: #abb1bf;
    font-size: 35px;
    font-family: monospace;
}

.code {
    width: 40%;
    margin: 0 auto;
    margin-top: 1rem;
}