.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    height: 120px;
    line-height: 120px;
    color: #fff;
}

.container {
    width: 60%;
    max-width: 1060px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #26282f;
    color: rgb(171, 178, 191);
}

.header-title {
    color: #fff;
    font-size: 2.125rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1rem;
}

.header-subtitle {
    color: #fff;
    font-size: 16px;
    text-align: center;
    opacity: 0.6;
}

.loader-item {
    width: 180px;
    height: 180px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #26282f;
    position: relative;
}

.title {
    width: 40%;
    margin: 0 auto;
    color: #abb1bf;
    font-size: 35px;
    font-family: monospace;
}

.code {
    width: 40%;
    margin: 2rem auto 3rem auto;
    font-size: 18px;
    line-height: 1.4;
}

.subcode {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.outer {
    width: 100%;
}
