.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    height: 120px;
    line-height: 120px;
    color: #fff;
}

.container {
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.loader-item {
    width: 30%;
    height: 120px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
