.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    height: 120px;
    line-height: 120px;
    color: #fff;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: transparent;
}

.header-title {
    color: #fff;
    font-size: 2.125rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.5rem;
}

.header-subtitle {
    color: #7a7880;
    font-size: 36px;
    text-align: center;
    width: 30%;
    font-weight: 200;
    line-height: 1.6;
}

.loader-item {
    width: 200px;
    height: 200px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #26282f;
    position: relative;
    cursor: pointer;
    border: 1px solid #313238;
    /* animation: scale 4s infinite; */
}

.loader-item:hover .subcode {
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);
}

.title {
    width: 40%;
    margin: 0 auto;
    color: #abb1bf;
    font-size: 35px;
    font-family: monospace;
}

.code {
    width: 40%;
    margin: 2rem auto 3rem auto;
    font-size: 18px;
    line-height: 1.4;
}

.subcode {
    position: absolute;
    bottom: 5px;
    left: 50%;
    opacity: 0;
    transition: 0.2s;
    transform: translateX(-50%) translateY(50%);
}

.outer {
    width: 100%;
}

a.button {
    margin: 0 auto 70px auto;
    width: 155px;
    border-radius: 50px;
    height: 45px;
    color: #fff;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(to left, #414245 0, #24272d);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.button:hover {
    opacity: 0.8;
}

@keyframes scale {
    50% {
        transform: translateZ(25px);
    }
}