.comb-spinner {
    --size: 32px;
    --color: #fff;
    position: relative;
    width: var(--size);
    height: calc(var(--size) / 5);
    border: 1px solid red;
}

@for $i from 0 through 11 {
    .comb-bar-#{$i} {
        position: absolute;
        left: 0;
        width: calc(var(--size) / 60);
        height: calc(var(--size) / 5);
        left: calc(#{$i} * 9px);
        transform-origin: center bottom;
        transform: rotate(-90deg);
        background-color: var(--color);
        animation: comb-spinner-rotate 3s ease infinite;
        animation-delay: calc(#{$i} * 0.05s);
    }
}

@keyframes comb-spinner-rotate {
    to {
        transform: rotate(450deg);
    }
}
