.bars-spinner {
    --size: 32px;
    --color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--size);
    height: var(--size);
}

@for $i from 0 through 4 {
    .bar-#{$i} {
        position: absolute;
        top: 0px;
        left: calc(#{$i} * ((var(--size) / 5) + (var(--size) / 25)) - (var(--size) / 12));
        width: calc(var(--size) / 20);
        height: var(--size);
        background-color: var(--color);
        animation: bars-motion 1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        animation-delay: calc(0.15s * #{$i});
    }
}

@keyframes bars-motion {
    0% {
        width: calc(var(--size) / 20);
    }

    50% {
        width: calc(var(--size) / 6);
    }

    100% {
        width: calc(var(--size) / 20);
    }
}
